body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hp {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.heart {
  position: relative;
  background: url('../image/sprite_ui.png') 0px 0px;
  background-size: 128px;
  width: 64px;
  height: 64px;
}

.rubies {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.icon {
  position: relative;
  background: url('../image/sprite_ui.png')-60px -64px;
  width: 64px;
  height: 64px;
}

.value {
  position: relative;
  font-size: 3.5rem;
  color: white;
  font-family: math;
}

.h8 .p3 {
  animation: blink 1s infinite;
}

.h7 .p3 {
  animation: blink 1s infinite;
  background-position: -64px 0px;
}

.h6 .p2 {
  animation: blink 1s infinite;
}
.h6 .p3 {
  background-position: 0px -64px;
}

.h5 .p2 {
  animation: blink 1s infinite;
  background-position: -64px 0px;
}
.h5 .p3 {
  background-position: 0px -64px;
}

.h4 .p1 {
  animation: blink 1s infinite;
}
.h4 .p3 {
  background-position: 0px -64px;
}
.h4 .p2 {
  background-position: 0px -64px;
}

.h3 .p1 {
  animation: blink 1s infinite;
  background-position: -64px 0px;
}
.h3 .p3 {
  background-position: 0px -64px;
}
.h3 .p2 {
  background-position: 0px -64px;
}

.h2 .p0 {
  animation: blink 1s infinite;
}
.h2 .p3 {
  background-position: 0px -64px;
}
.h2 .p2 {
  background-position: 0px -64px;
}
.h2 .p1 {
  background-position: 0px -64px;
}

.h1 .p0 {
  animation: blink 1s infinite;
  background-position: -64px 0px;
}
.h1 .p3 {
  background-position: 0px -64px;
}
.h1 .p2 {
  background-position: 0px -64px;
}
.h1 .p1 {
  background-position: 0px -64px;
}

.h0 .heart {
  background-position: 0px -64px;
}

@keyframes blink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  position: absolute;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  width: 35rem;
  height: 100%;
  padding: 0.5rem 4rem 2rem 5rem;
  background: linear-gradient(
    90deg,
    rgba(221, 162, 37, 0) 0%,
    rgb(50 79 52 / 77%) 36%
  );
  color: white;
}

.container.hide {
  display: none;
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.tech {
  width: 10rem;
}

.desc {
  font-size: 1.5rem;
  margin-bottom: 4rem;
  white-space: pre;
  text-wrap: wrap;
  text-align: end;
}

.config {
  display: inline-block;
  position: relative;
  width: 22.5rem;
  height: 20rem;
  background: url('../image/gamepad.png');
}

.button {
  display: inline-block;
  padding: 1rem 0;
  width: 16rem;
  margin-bottom: 2rem;
  background-color: #e45a2b;
  border-radius: 1rem;
  font-size: 2rem;
  border: solid;
  cursor: pointer;
  text-align: center;
  transform-origin: center;
  color: #ffffff;
  box-shadow: 0 0 6px 2px #000000a3;
}

.button:hover {
  scale: 1.05;
}

.start {
  position: absolute;
  top: 60%;
  left: calc(50% - 8rem)
}

input {
  width: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: solid orange ;
}

.key {
  position: absolute;
}

.up {
  top: 3rem;
  left: 2.4rem;
}
.down {
  top: 9rem;
  left: 2rem;
}
.left {
  top: 5.8rem;
  left: 0rem;
}
.right {
  top: 5.8rem;
  left: 5rem;
}
.attack {
  top: 11rem;
  left: 13rem;
}
.jump {
  top: 5rem;
  left: 18rem;
}
.lock {
  top: 0.5rem;
  left: 19.5rem;
}

.lock input {
  width: 2rem;
}




